.float_right {
    float: right
}

.float_left {
    float: left;
}

.align_center {
    text-align:center;
}

.section {
    clear:both
}

.news_item {
    border: 2px solid;
    border-color: black;
    float: left;
    width: 230px;
}

.admin_nav_background {
  padding: 10px;
  background-color: cadetblue;
}

.admin_nav_links {
  margin-right: 10px;
  margin-left: 10px;
}

