.float_right {
    float: right
}

.float_left {
    float: left;
}

.align_center {
    text-align:center;
}

.section {
    clear:both
}

.column_section {
  margin-right: 20px;
  margin-left: 20px;
}
.news_item {
    border: 2px solid;
    border-color: black;
    float: left;
    width: 230px;
}
